.form_wrap_input_field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 24px;
    grid-template-areas:
      ". .";

    img {
      width: 150px;
      height: 150px;
    }
}