$pd-card-hori: 24px;
$pd-card-ver: 15px;
.credit_card_component {
  display: flex;
  flex-direction: column;
  height: 100%;
  &_container {
    padding:12px 24px;
    .item_form {
      display: flex;
      flex-direction: column;

      .ant-form-item-label {
        text-align: left;
      }

      margin-right: 8px;

      .ant-input {
        width: 100%;
      }
    }

    .header {
      .header_logo {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: inherit;
      }
    }

    .wrap_info_credit_card {
      .wrap_info {
        margin: 14px 0;
        display: flex;
        .ant-input {
          margin-top: 6px;
        }
      }

      &_expire_date {
        display: flex;
        justify-content: space-between;
      }
    }

    .wrap_coupon {
      display: flex;
      flex-direction: column;
      margin-bottom: 14px;

      .wrap_btb_switch {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .title {
          font-size: 14px;
          color: #434343;
          font-weight: 500;
          margin-left: 14px;
        }
      }

      .wrap_input_coupon {
        display: flex;

        .apply_coupon {
          height: 39px;
          margin-left: 8px;
        }
      }
    }

    .input_wrap {
      display: flex;
      flex-direction: column;
    }

    .installment_wrap {
      width: 100%;
      box-sizing: content-box;
    }
  }
  .detail_price {
    background-color: #d9d9d9;
    color: #434343;
    padding: 12px 24px;
    &_title {
      h4 {
        color: #434343;
        font-size: 16px;
      }
    }

    &_transfer {
      width: 100%;
      .item_price {
        width: 100%;

        padding: 12px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 0px;
        grid-template-areas: '. .';
        .wrap_amount_money {
          display: flex;
          justify-content: flex-end;
          .icon_x {
            margin: 0 6px;
          }
        }
        &__text_right {
          text-align: right;
        }
      }
      .line_horization {
        border-bottom: 1px solid #cacaca;
      }

      p {
        color: #434343;
        line-height: 22px;
      }
    }

    &_total {
      display: flex;
      margin-top: 15px;

      p {
        color: #434343;
        line-height: 22px;
      }

      &:last-child {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .lisence {
    padding: 12px 24px;
    margin-top: 30px;
    padding: $pd-card-ver $pd-card-hori;

    &_guide {
      text-align: end;
    }

    .ant-btn {
      float: right;
      background-color: #f96d01;
      margin-top: 8px;
      padding: 20px 40px;
      align-items: center;
      display: flex;
      color: #fff;

      &:hover {
        background-color: #f98a35;
        border: 1px solid #f98a35;
      }
    }
  }
}
