.manager_room_pages {
    .col-data {
        img {
            margin: 8px 0;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }

}

.wrap_all_room_follow_type {
    display: flex;
    flex-direction: column;

    .wrap_type_room {
        display: flex;
        flex-direction: column;
        margin: 16px 0;
        .title {
            font-size: 18px;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            .wrap_item_room {
                margin: 16px;
                margin-left: 0;
                width: 130px;
                height: 130px;
                border-radius: 6px;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    transition: all .2s ease-in-out;
                    transform: scale(1.1);
                }
                 &.disable-room:hover {
                    cursor: default !important;
                    transform: scale(1) !important;
                }

                &.is-choose-room {
                    transition: all .2s ease-in-out;
                    transform: scale(1.1);
                }

                &__container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .title {
                        color: white;
                        font-weight: inherit;

                    }
                    .wrap_time {
                        text-align: center;
                        color: white;
                    }
                   
                  
                    &.OFF {
                        background-color: rgb(204, 204, 204);
                    }

                    &.READY {
                        background-color: rgb(77, 255, 77);
                    }

                    &.RUNNING  {
                        transform: scale(1);
                        background-color: rgb(255, 71, 26)
                    }

                }
            }
        }
    }
    

}

.wrap_layout_render_data {
    display: flex;
    &__container {
        &__content{
            display: flex;
            flex-direction: column;
            .wrap_item_column_data {
                width: 100%;
                display: grid;
                grid-template-columns: 30px 10% 10% 1fr 10% 10% 8% 10% 12% 10%;
                grid-template-rows: 1fr;
                gap: 0px 0px;
                grid-template-areas:
                    ". . . . . . .";
                border-top: 1px solid black;
                border-left: 1px solid black;
                word-break: break-all;
                .column_data {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     padding: 24px;
                     text-align: center;
                     border-bottom: 1px solid black;
                     border-right: 1px solid black;
                }
                .btn_handle {
                    width: 130px;
                    margin: 8px 0;
                }
                .flex-column {
                    display: flex;
                    flex-direction: column;
                }
            }

        }

    }
}