.wrap-boxchat {
  margin: 0 10px;
}
.boxchatsmall-main {
  &__container {
    display: flex;
    align-items: center;

    height: 40px;
    width: 180px;

    padding: 8px 4px 8px 7px;

    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
    background: #ffffff;

    cursor: pointer;

    .infor-user {
      display: flex;
      width: 100%;
    }
    .name-user {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;

      margin-left: 10px;
      .name {
        width: 113px;
        height: 14px;

        // display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 13px;
        font-weight: 600;
      }
      .anticon {
        margin-right: 0;
        margin-left: auto;
        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
