.boxchat-main {
  &__container {
    display: flex;
    flex-direction: column;
    width: 284px;
    height: 351px;

    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #d9d9d9;

    background: #ffffff;
    .title-box-chat {
      display: flex;
      align-items: center;

      padding: 8px 8px 7px;

      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
        0px 2px 2px rgba(0, 0, 0, 0.25);

      cursor: pointer;
      .wrap-name-close {
        display: flex;
        flex: 1;
        .name-user {
          width: 115px;

          margin-left: 10px;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          font-size: 13px;
          font-weight: 600;
          &:hover {
            border-bottom: 1px solid black;
          }
        }
      }
    }
    .list-text-chat {
      overflow: auto;
      height: 247px;
      padding: 7px 10px 10px;
      .item-mess-text {
        margin: 10px 0;
        .wrap-mess-author {
          display: flex;
          align-items: flex-end;
          .content-mess {
            max-width: 200px;
            word-wrap: break-word;

            margin: 0 10px;

            padding: 10px;
            border-radius: 8px;

            font-size: 14px;

            background-color: #e6e6e6;
          }
          .author {
            color: #828282;
            letter-spacing: 0.3px;
            font-size: 10px;
          }
        }
        .user-send {
          flex-direction: row-reverse;
          .content-mess {
            background-color: #2979ff;
            color: #ffffff;
          }
        }
      }
    }
    .input-file {
      .input-text-chat {
        width: 100%;

        border: none;
        border-bottom: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
        border-radius: 0;

        white-space: pre-wrap;
        resize: none;
        overflow: auto;

        font-size: 13px;
        &:focus,
        &:hover {
          box-shadow: none;
          outline: none;
        }
      }
      .list-hanle {
        display: flex;
        align-items: center;
        padding: 5px 0;
        li {
          list-style: none;
          margin-left: 10px;
        }
        img {
          width: 16px;
        }
      }
    }
  }
}
